### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [20]:
row = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

row.count("row")

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [4]:
name = input("What is your name? ")
color = input("What is your favorite color? ")
animal = input("What is your favorite animal? ")

print(f"{name} had a little {animal}")
print(f"It was {color} as snow")
print(f"And everywhere that {name} went, the {animal} was sure to go")

What is your name? Brian
What is your favorite color? orange
What is your favorite animal? cat
Brian had a little cat
It was orange as snow
And eveywhere that Brian went, the cat was sure to go

3. Print 3.14159 in a scientific number notation

In [19]:
print(f"{3.14159:e}")

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [21]:
print(f"{3.1559:.3f}")

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [23]:
print(f"{1589.92341:3e}")

1.589923e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [24]:
39 // 2

19

In [30]:
19 // 2

9

In [26]:
9 // 2

4

In [35]:
4 // 2

2

In [27]:
2 // 2

1

In [28]:
1 // 2

0

In [32]:
39 % 2

1

In [33]:
19 % 2

1

In [34]:
9 % 2

1

In [36]:
4 % 2

0

In [37]:
2 % 2

0

In [40]:
1 % 2   # 0b100111

1

In [41]:
bin(39)

'0b100111'

In [42]:
int(0b100111)

39

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [43]:
39 // 8

4

In [44]:
4 // 8

0

In [45]:
39 % 8

7

In [57]:
4 % 8 #Octal Number: 0o47

4

In [49]:
oct(39)

'0o47'

In [50]:
int(0o47)

39

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [51]:
39 // 16

2

In [52]:
2 // 16

0

In [53]:
39 % 16

7

In [54]:
2 % 16   # Hexadecimal: 0x27

2

In [55]:
hex(39)

'0x27'

In [56]:
int(0x27)

39

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [116]:
amount = int(input("What is the amount? "))
tax_rate = float(input("What is the tax rate (in percent)? "))

What is the amount? 100
What is the tax rate (in percent)? 0.05

In [117]:
tax_amount = amount * tax_rate

In [118]:
total = amount + tax_amount

In [121]:
print(f"Amount:${amount:.2f} \nTax Rate: {tax_rate:.2%}\nTax Amount: ${tax_amount:.2f}\nTotal: ${total:.2f}")

Amount:$100.00
Tax Rate: 5.00%
Tax Amount: $5.00
Total: $105.00